<!DOCTYPE html>
<head>  
    <title>{{ title }} </title>
    <link rel = "stylesheet" href="../static/style.css">
    </head>
    <body>
        <h2> Etch-a-Sketch!</h2>
        <h3> Status </h3>
        UP ==> {{ Up }}
        DOWN ==> {{ Down }}
        RIGHT ==> {{ Right }}
        LEFT ==> {{ Left }}

        <br> 
        <h3> Commands </h3>
        
        
        <a href="/UpOn" class="button">UP</a>
        <br> 
        <a href="/DownOn" class="button">DOWN</a>
    
        <br> 
        <a href="/RightOn" class="button">RIGHT</a>
        
        <br> 
        <a href="/LeftOn" class="button">LEFT</a>
        <br> 
        <a href="/Clear" class="button">CLEAR</a>
       

        
        



    </body>
    </html>